body{
    background: white;
    font-size:100%;
    margin: 0em;
    padding: 0em;
    text-align: center;
}
h1{
    font-size: 2.5em;
    line-height: 3.8em;
    font-family: Helvetica;
    font-weight: 100;
    color: #E2DBDB;
    margin: 0em;
}
h2{
    font-size: 1.563em;
    line-height: 1.8em;
    font-family: Helvetica;
    font-weight: 100;
    color: #2F2D2C;
    margin: 0em;
    padding: 1.25em;
    text-align: left;
}
p{
    line-height: 1.25em;
    font-family: Helvetica;
    font-weight: 100;
    color: #2F2D2C;
    margin: 0em;
    padding: 1.25em;
    text-align: justify;
}
ul{
    margin: 0px;
    padding: 0px;
}
li{
    list-style: square;
    font-family: Helvetica;
    font-weight: 100;
    color: #2F2D2C;
    line-height: 1.25em;
    margin: 0em;
    padding: 0em;
    margin: 0.313em 0em 0.313em 0em;
}
a{
    text-decoration: none;
}
nav{
    display: block;
    height: 2.5em;
    background: white;
    text-align: center;
}
nav input{
    align-content: center;
    text-align: center;
    display: inline-block;
    width: 64%;
}
input[type=text] {
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}

input[type=submit] {
    font-family: Helvetica;
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
input[type=submit]:hover{
    background: #DBD9D8;
    border-bottom: 0.188em solid #E7590B;
}
nav ul{
    display: block;
}
nav ul li{
    display: inline;
    margin: 0em 0.188em 0em 0.188em;
}
nav ul li a{
    color: #454040;
    font-size: 1.125em;
    line-height: 2.5em;
    padding: 0.563em 0.938em 0.375em 0.983em;
    transition: background 0.2s;
    -webkit-transition: background 0.2s;
}
nav ul li a:hover{
    background: #DBD9D8;
    border-bottom: 0.188em solid #E7590B;
}
nav ul li a.active{
    border-bottom: 0.188em solid #E7590B;
}
footer{
    bottom: 0;
    position: fixed;
    display: block;
    width: 100%;
    background: #2F2C2C;
    text-align: center;
}
footer ul{
    display: block;
    width: 100%;
    max-width: 980px;
    text-align: left;
    margin: 0px auto;
}
footer ul li{
    display: inline;
    font-size: 0.8em;
    line-height: 2.8em;
    color: #E2DBDB;
    padding: 0em 0.625em 0em 0.625em;
}
footer ul li a{
    color: #E2DBDB;
}